body {
    background: url('./images/geometric-abstract.gif');
    background-position: 1;
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
}

    td{
        text-align: center;
        font-size: 150%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: aliceblue;
    }
    
    th{
        font-size: 170%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(19, 185, 226);
    }

.btn {
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;
    margin-bottom: 4rem;
}

.btn:hover {
    background: #dadada;
}
